body {
  #page {
	width: 500px;
	height: 500px;
	top: 100px;
	margin: auto;
	background-color: bisque;
	position: relative;

	svg#verticalLine, svg#horizontalLine {
		position: absolute;
		width: 100%;
		height: 100%;
		&.hide{
			visibility: hidden;
		}
	  	line {
		 	stroke: black;
		  	stroke-width: 0.01;
		  	stroke-dasharray: 0.05;
	  	}
	}

	.vertical {
		position: absolute;
		width: 1px;
		border-left-width: 1px;
		border-left-color: black;
		border-left-style: dashed;
	}
	.horizontal {
		position: absolute;
		height: 1px;
		border-top-width: 1px;
		border-top-color: black;
		border-top-style: dashed;
	}
	.container {
	  position: absolute;
	  box-sizing: border-box;
	  &.dragging {
		border: chocolate 1px dotted;
		opacity: 0.4;
	  }
	}
  }
}
